{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	{{ dump(products) }}
    <h1>{{slug}}</h1>
	<main>
		{% for  item in products %}
			<article>
				<header>{{item.name}}
					{% if item.isFeatured == true %}
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24"><path fill="currentColor" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm4.24 16L12 15.45L7.77 18l1.12-4.81l-3.73-3.23l4.92-.42L12 5l1.92 4.53l4.92.42l-3.73 3.23L16.23 18z"/></svg>
					{% endif %}

				</header>
				<img src={{ asset("image/products")}}/{{item.image}} alt="{{item.name}}">
				<p>{{item.shortDescription}}</p>
				<footer>
					{{item.price}}
					&euro; -
					<a href="{{path('products_show',{id: item.id}) }}">Voir le prduit</a>

				</footer>
			</article>
		{%  endfor %}
	</main>
{% endblock %}
